<nav>
        <ul>
            <li class="nav-logo">Task Manager</li>
            <li class="nav-toggler"><i class="fa fa-bars"></i></li>
            <li class="nav-items"><a href="/">Home</a></li>
            <li class="nav-items"><a href="/add_task">Add Task</a></li>
        </ul>
    </nav>